* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Crete Round", serif;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 100% !important;
  overflow: hidden;
}

header {
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 10%;
  padding-bottom: 12px;
  padding-top: 28px;
}

.nav-menu {
  display: none;
}

.navbar {
  display: flex;
}

.humburger {
  margin-left: 200px;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.Headline-bar {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-top: 120px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 131px;
  background: #1c1a19;
  flex-wrap: wrap;
  background-image: url("/SVG/bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: 100% 112%;
}

.head {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 577px;
  flex-wrap: wrap;
}

.head h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 114%;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.head h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #fff5e1;
}

.head p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 21px;
  justify-content: flex-start;
  padding-left: 0;
}

.work-done {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

.Recentwork {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.Recentwork h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  color: #1c1a19;
}

hr {
  width: 95%;
  border: 1px solid black;
}

.worksimg {
  max-width: 684px;
  margin-bottom: 24px;
}

.worksdescription {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 24px;
}

.worksdescription h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.worksdescription p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 141%;
  color: #fff;
  margin-right: 84%;
}

#submitbtn {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

.languageboxes {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
  justify-content: flex-start;
  padding-left: 0;
}

.languageboxes li {
  border: 1px solid #8993a4;
  box-sizing: border-box;
  padding: 10px 12px;
}

.work-cards {
  display: grid;
  row-gap: 24px;
}

.work1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("SVG/cardBG.svg");
  background-repeat: no-repeat;
  background-size: 118%;
  padding-top: 84px;
  gap: 12px;
}

.work1Description {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.work1 h2 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 138%;
  color: #fff;
  padding-bottom: 1%;
  padding-left: 2%;
}

.work1 p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 1%;
}

.category {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-start;
  padding-left: 2%;
  list-style: none;
}

.category li {
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
  border: 1px solid #8993a4;
  box-sizing: border-box;
  color: white;
}

.work1 button {
  width: 100%;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  background: #1c1a19;
  padding-top: 120px;
  padding-left: 5%;
  padding-right: 5%;
  background-image: url("SVG/about-me-mobile.svg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.aboutme {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-wrap: wrap;
}

.aboutme h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 122%;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.aboutme p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 100%;
  color: #f4f5f7;
  flex-wrap: wrap;
}

.aboutme button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.aboutme hr {
  margin-top: 180px;
  border: 1px solid white;
  width: 95%;
}

.myskills {
  display: flex;
  flex-direction: column;
  background: #1c1a19;
  align-items: center;
  gap: 44px;
  padding-top: 136px;
  padding-bottom: 131px;
}

.myskillslanguage {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 44px;
}

.myskillHeading {
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;
  color: #fff;
}

.myskillHeadingImg {
  display: flex;
  gap: 5px;
  padding-right: 11%;
}

#framework {
  gap: 20px;
}

.skil-lList {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  align-self: flex-start;
  margin-bottom: 10px;
}

.skill-List li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 194%;
  color: #fff;
  list-style: none;
  align-items: flex-start;
  padding-right: 190%;
}

.touch {
  display: flex;
  flex-direction: column;
  gap: 73px;
  align-items: flex-start;
  padding-top: 120px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 121px;
  border-bottom: 1px solid black;
}

.touch h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;
  text-align: center;
  color: #172b4d;
}

.touchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 90%;
}

.touchForm input {
  border-bottom: 1px solid black;
  padding: 10px;
  width: 100%;
}

.touchForm button {
  padding: 12px;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  width: 136px;
  justify-content: start;
}

textarea {
  padding: 10px;
  background: #fbf8f7;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
  padding-top: 25px;
  padding-bottom: 10px;
}

.footer hr {
  border: 3px solid black;
  width: 30%;
  background: #0d151e;
  border-radius: 10px;
}

.button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.button:active {
  background: #e05304;
  color: white;
}

.menuList {
  display: none;
}

#w2 #w2dt,
#w3 #w3dt,
#w4 #w4dt,
#w5 #w5dt,
#w6 #w6dt {
  display: none;
}

.work1 .buttond {
  display: none;
}

#overlay {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  bottom: 0;
  right: 0;
  background-color: #3c3a39;
}

#overlay.visible {
  left: 0;
}

.closeImg {
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
}

#overlay ul {
  list-style-type: none;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#overlay li {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 0.5px solid #6f6c6b;
}

@media all and (min-width: 768px) {
  .menuIcon {
    display: none;
  }

  li {
    list-style: none;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-left: 900px;
  }

  .nav-link {
    transition: 0.7s ease;
  }

  .nav-menu ul li {
    margin-left: 100px;
  }

  .nav-link:hover {
    color: #e05304;
  }

  .humburger {
    display: none;
  }

  .Headline-bar {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 81px;
    padding-left: 31px;
    padding-top: 191px;
    background-image: url("SVG/BGheadlineDesktop.svg");
    background-repeat: no-repeat;
    background-position: 100% 72%;
    padding-bottom: 258px;
  }

  .socialmedia {
    flex-direction: column;
    padding-top: 5%;
    gap: 18px;
  }

  .head h1 {
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 113%;
    color: #f55800;
  }

  .head h2 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 138%;
    color: #fff;
  }

  .head p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #f4f5f7;
  }

  .Recentwork {
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 5%;
  }

  .Recentwork h1 {
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    color: #091e42;
    width: 57%;
  }

  .Recentwork hr {
    width: 140%;
  }

  .works {
    display: flex;
    gap: 10px;
  }

  .worksdescription {
    width: 40%;
    gap: 24px;
  }

  .worksimg {
    width: 52%;
  }

  .worksdescription h1 {
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    color: #091e42;
  }

  .worksdescription p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #091e42;
  }

  .work-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 435px);
    row-gap: 37px;
    column-gap: 24px;
  }

  .aboutme {
    max-width: 566px;
  }

  .aboutme hr {
    width: 1156px;
  }

  .about {
    background-image: url("SVG/aboutmeBGDesktop.svg");
    background-repeat: no-repeat;
    background-position: 100% 20%;
  }

  .myskills {
    flex-direction: row;
    justify-content: space-around;
  }

  .touch {
    flex-direction: row;
  }

  .touch h1 {
    max-width: 455px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    width: 100%;
    color: #262626;
    text-align: left;
    padding-bottom: 10%;
    padding-left: 5%;
  }

  .footer .socialmedia {
    flex-direction: row;
    padding-top: 1%;
  }

  #w1,
  #w2,
  #w3,
  #w4,
  #w5,
  #w6 {
    position: relative;
  }

  #w1button,
  #w4button,
  #w2button,
  #w5button {
    position: absolute;
    z-index: 3;
    margin-top: 50%;
    display: none;
  }

  #w3button,
  #w6button {
    position: absolute;
    z-index: 3;
    margin-top: 40%;
    display: none;
  }

  #w1:hover #w1button,
  #w2:hover #w2button,
  #w3:hover #w3button,
  #w4:hover #w4button,
  #w5:hover #w5button,
  #w6:hover #w6button {
    display: block;
  }

  #w1work1Discription,
  #w2work1Discription,
  #w3work1Discription,
  #w4work1Discription,
  #w5work1Discription,
  #w6work1Discription {
    position: absolute;
    z-index: 2;
  }

  #w1:hover #w1work1Discription,
  #w2:hover #w2work1Discription,
  #w3:hover #w3work1Discription,
  #w4:hover #w4work1Discription,
  #w5:hover #w5work1Discription,
  #w6:hover #w6work1Discription {
    display: none;
  }

  #w5,
  #w2 {
    background-image: url("SVG/bgw2.svg");
    background-repeat: no-repeat;
    padding-top: 50%;
  }

  #w4,
  #w1 {
    background:
      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 84.18%
      )
      url("SVG/w1w4bg.png");
    background-repeat: no-repeat;
    padding-top: 50%;
  }

  #w1:hover,
  #w4:hover,
  #w2:hover,
  #w5:hover {
    background-image: url("SVG/w1w4bg.png");
    background-repeat: no-repeat;
    padding-top: 50%;
  }

  #w6,
  #w3 {
    background-image: url("SVG/w6bgdt.png");
    background-repeat: no-repeat;
    padding-top: 59%;
  }

  #w6:hover,
  #w3:hover {
    background-image: url("SVG/w1w4bg.png");
    background-repeat: no-repeat;
    padding-top: 59%;
  }

  #w2 #w2b,
  #w3 #w3b,
  #w4 #w4b,
  #w5 #w5b,
  #w6 #w6b {
    display: none;
  }

  #w2 #w2d,
  #w3 #w3d,
  #w4 #w4d,
  #w5 #w5d,
  #w6 #w6d {
    display: inline-block;
  }

  .work1 .button {
    display: none;
  }

  .footer hr {
    display: none;
  }

  .footer {
    padding-top: 0;
  }
}

.logo:hover {
 background: #ff6b6b;
 transform: rotate(45deg);
}

 .head:hover h2 {
  color: green;
  transition: 1s;
 }

.head:hover p {
  color:#e05304;
  transition: 1s;
}